body {
  /* body 태그에 직접 배경색을 지정하여 전체 페이지의 기본 배경이 되도록 합니다. */
  /* 디자인에 맞춰 세련된 다크 모드로 변경합니다. */
  background-color: #000000;

  /* 배경이 어두워졌으니 기본 글자색은 밝은 색으로 변경합니다. */
  color: #000; /* 완전한 흰색보다 눈이 편안한 밝은 회색 */

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif; */

  font-family: Pretendard;
  font-weight: 500;
  font-style: Medium;
  font-size: 45px;
  line-height: 180%;
  letter-spacing: 0%;

  /* 페이지의 기본 여백을 제거하여 화면에 꽉 차게 만듭니다. */
  margin: 0;
}
